body{
    text-align: center;
}
.app{
    background-color: pink;

}
.games{
    background: linear-gradient(black, grey);
}
.underline{
    width:100px;
    height:5px;
    background-color: black;
    margin:8px auto ;
}
.h1{
    color:white;
}
img:hover{
    transform: scale(1.5);
    transition: transform 1.0s;
}
html{
    scroll-behavior: smooth;
}